h2 {
  color: blue;
  text-align: center;
  margin-top: 20px;
}
h3,
h4 {
  color: blue;
  text-align: center;
  margin: 0 auto;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}
body {
  margin: 0 auto;
  margin-top: 100px;
  padding-left: 35px;
  padding-top: 70px;
  padding-right: 40px;
  text-align: center;
  border-radius: 10px;
  border-style: ridge;
  background: skyblue;
}
div {
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}
ul {
  margin-top: 25px;
}
li {
  list-style: none;
}
.btn {
  margin-bottom: 30px;
}
#celcius,
#farenheit {
  text-decoration: none;
  font-size: 12px;
}
.units {
  position: relative;
  top: -10px;
}
